<html>
<head>
<title>AutoNews Financial</title>
</head>
<body>
<div style="font-size:7em"; align="center">AutoNews<br>Financial</div>
<div style="font-size:3em"; align="center">Real-time news summaries customized to your portfolio</div>
<div align="center">
	<p>
	<form action="user" method="get">
	Log in with your user id
		<input type="text" name="user"></input>
		<input type="submit" value="Log in"></input>
	</form>
	</p>
	<p>Users 1 to 10 are frequent traders. Users 1 to 1,000,000 available.</p>
</div>
<div align="center">
	<p>
	<a href="/slides">See Slidedeck</a>
	</p>
</div>
</body>
</html>
