<html>
<head>
<title>AutoNews Financial - Welcome User {{user}}</title>
</head>
<body>
<h1>Hello, User {{user}}</h1>
<table>
	<tr>
		<td colspan=3>
			<h2>Your Recent Trades</h2>
		</td>
		<td colspan=3>
			<h2>Your Portfolio</h2>
		</td>
	</tr>
	{% for i in range(5) %}
	<tr>
		{% if i >= latest_trades|length %}
		<td></td><td></td><td></td>
		{% else %}
		<td>{{ latest_trades[i].company }}</td>
		<td>{{ latest_trades[i].num_stock }}</td>
		<td>{{ latest_trades[i].tradetime }}</td>
		{% endif %}
		{% if i >= portfolio|length %}
		<td></td><td></td><td></td>
		{% else %}
		<td>{{ portfolio[i]["company"] }}</td>
		<td>{{ portfolio[i]["graphic"] }}</td>
		<td>{{ portfolio[i]["portfolio_ratio"] }}</td>
		{% endif %}
	</tr>
	{% endfor %}
	<tr>
		<td colspan=6>
			<h2>Your News Updates</h2>
		</td>
	</tr>
	{% for row in latest_news %}
	<tr>
		<td>{{ row.company }}</td>
		<td>{{ row.summary }}</td>
		<td><a href="{{ row.source }}">{{ row.author }}</a></td>
		<td>{{ row.newsoutlet }}</td>
		<td>{{ row.newstime }}</td>
		<td></td>
	</tr>
	{% endfor %}
</table>
</body>
</html>
