<html>
<head>
<title>AutoNews Financial - Welcome User {{user}}</title>
</head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type=text/javascript>
function update_userdata() {
	$.getJSON($SCRIPT_ROOT + '/retrieve_user_data', {user: {{ user }} }, 
	function(data) {
		var portfolio = "";
		var portfolio_extra = "";
		var trades = "";
		var news = "";
		for(var i=0; i<data.latest_trades.length;i++) {
			trades += "<tr><td>" + data.latest_trades[i].company + "</td><td align='right'>" + data.latest_trades[i].num_stock + "</td><td>" + data.latest_trades[i].tradetime + "</td></tr>";
		}
		document.getElementById("trades").innerHTML = trades;
		for(var i=0; i<data.portfolio.length;i++) {
			ratio=Math.abs(data.portfolio[i].portfolio_ratio);
			shares=data.portfolio[i].stock_total
			if (data.portfolio[i].stock_total < 0) {
				shares=-1 * shares;
				shares=shares + " (short)";
			} 
			if(i < 5) {
				portfolio += "<tr><td>" + data.portfolio[i].company + "</td><td align='right'>" + shares + "</td><td align='right'>" + ratio + "%</td><td>" + data.portfolio[i].graphic +  "</td></tr>";
			} else {
				portfolio_extra += "<tr><td>" + data.portfolio[i].company + "</td><td align='right'>" + shares + "</td><td align='right'>" + ratio + "%</td><td>" + data.portfolio[i].graphic +  "</td></tr>";
			}
		}
		document.getElementById("portfolio").innerHTML = portfolio;
		document.getElementById("portfolio_extra").innerHTML = portfolio_extra;
		for(var i=0; i<data.news.length;i++) {
		news += "<tr><td>" + data.news[i].company + "</td><td>" + data.news[i].summary + "</td><td><a href='" + data.news[i].source + "'>" + data.news[i].author + "</a></td><td>" + data.news[i].newsoutlet + "</td><td>" + data.news[i].newstime + "</td><td>" + "</td></tr>";
		}
		document.getElementById("news").innerHTML = news;

	});
}

$(function() {
	setInterval(update_userdata, 2000);
});
</script>
<script>
function showportfolio() {
	$("#portfolio_extra").show();
	$("#hideportfolio").show();
	$("#showportfolio").hide();
}
function hideportfolio() {
	$("#portfolio_extra").hide();
	$("#hideportfolio").hide();
	$("#showportfolio").show();
}
</script>
<body>
<h1>Hello, User {{user}}</h1>
<table>
	<thead>
	<tr>
		<td colspan=4>
			<h2>Your Portfolio</h2>
		</td>
	</tr>
	<tr>
		<td>Stock</td>
		<td align="right">Number of Shares</td>
		<td align="right">Percentage of Portfolio</td>
		<td>Bar Graph</td>
	</tr>
	</thead>
	<tbody id="portfolio">
	{% for i in range(5) %}
	{% if i < portfolio|length %}
	<tr>
		<td>{{ portfolio[i]["company"] }}</td>
		<td align="right">{% if portfolio[i]["stock_total"] < 0 %} {{ -1 * portfolio[i]["stock_total"]|int }} (short) {% else %} {{ portfolio[i]["stock_total"] }} {% endif %}</td>
		<td align="right">{{ portfolio[i]["portfolio_ratio"]|float|abs }}%</td>
		<td>{{ portfolio[i]["graphic"] }}</td>
	</tr>
	{% endif %}
	{% endfor %}
	</tbody>
	<tbody id="portfolio_extra" hidden="true">
	{% for i in range(portfolio|length - 5) %}
	{% if i < portfolio|length %}
	<tr>
		<td>{{ portfolio[i+5]["company"] }}</td>
		<td align="right">{% if portfolio[i+5]["stock_total"] < 0 %} {{ -1 * portfolio[i+5]["stock_total"]|int }} (short) {% else %} {{ portfolio[i+5]["stock_total"] }} {% endif %}</td>
		<td align="right">{{ portfolio[i+5]["portfolio_ratio"]|float|abs }}%</td>
		<td>{{ portfolio[i+5]["graphic"] }}</td>
	</tr>
	{% endif %}
	{% endfor %}
	</tbody>
</table>
<div id="showportfolio" style="font-size:12" onclick="showportfolio()">Show entire portfolio</div>
<div id="hideportfolio" style="font-size:12" onclick="hideportfolio()" hidden="true">Reduce portfolio view</div>
<br>
<br>
<table>
	<thead>
	<tr>
		<td colspan=3>
			<h2>Your Recent Trades</h2>
		</td>
	</tr>
	<tr>
		<td>Stock</td>
		<td align="right">Number of Shares</td>
		<td>Trade Time</td>
	</tr>
	</thead>
	<tbody id="trades">
	{% for row in latest_trades %}
	<tr>
		<td>{{ row.company }}</td>
		<td align="right">{{ row.num_stock }}</td>
		<td>{{ row.tradetime }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
<br>
<br>
<table>
	<thead>
	<tr>
		<td colspan=5>
			<h2>Your News Updates</h2>
			{% if user|int > 10 %}
			<h5>For Stocks Greater Than 10% of Your Portfolio</h5>
			{% else %}
			<h5>For Stocks Greater Than 5% of Your Portfolio</h5>
			{% endif %}
		</td>
	</tr>
	<tr>
		<td>Stock</td>
		<td>Summary</td>
		<td>Source</td>
		<td>News Outlet</td>
		<td>Time of Release</td>
	</tr>
	</thead>
	<tbody id="news">
	{% for row in latest_news %}
	<tr>
		<td>{{ row.company }}</td>
		<td>{{ row.summary }}</td>
		<td><a href="{{ row.source }}">{{ row.author }}</a></td>
		<td>{{ row.newsoutlet }}</td>
		<td>{{ row.newstime }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
</body>
</html>
