<html>
<head>
<title>AutoNews Financial - Welcome User {{user}}</title>
</head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type=text/javascript>
function update_userdata() {
$.getJSON($SCRIPT_ROOT + '/retrieve_user_data', {{ user }}, 
	function(data) {
		var portfolio = "";
		var trades = "";
		var news = "";
		for(var i=0; i<data.latest_trades.length;i++) {
			trades += "<tr><td>" + data.latest_trades[i].company + "</td><td>" + data.latest_trades[i].tradetime + "</td><td>" + data.latest_trades[i].num_stock = "</td></tr>"
		}
		document.getElementById("trades").innerHTML = trades
	});
}

$(function() {
	setInterval(update_userdata, 2000);
});
</script>
<body>
<h1>Hello, User {{user}}</h1>
<table>
	<tr>
		<td colspan=4>
			<h2>Your Portfolio</h2>
		</td>
	</tr>
	<tr>
		<td>Stock</td>
		<td colspan=2>Percentage of Portfolio</td>
		<td>Number of Shares</td>
	</tr>
	{% for row in portfolio %}
	<tr>
		<td>{{ row["company"] }}</td>
		<td>{{ row["graphic"] }}</td>
		<td>{{ row["portfolio_ratio"] }}</td>
		<td>{{ row["stock_total"] }}</td>
	</tr>
	{% endfor %}
</table>
<table>
	<tr>
		<td colspan=3>
			<h2>Your Recent Trades</h2>
		</td>
	</tr>
	<tr>
		<td>Stock</td>
		<td>Trade Time</td>
		<td>Number of Shares</td>
	</tr>
	<div id="trades">
	{% for row in latest_trades %}
	<tr>
		<td>{{ row.company }}</td>
		<td>{{ row.tradetime }}</td>
		<td>{{ row.num_stock }}</td>
	</tr>
	{% endfor %}
	</div>
</table>
<table>
	<tr>
		<td colspan=5>
			<h2>Your News Updates</h2>
		</td>
	</tr>
	<tr>
		<td>Stock</td>
		<td>Summary</td>
		<td>Source</td>
		<td>News Outlet</td>
		<td>Time of Release</td>
	</tr>
	{% for row in latest_news %}
	<tr>
		<td>{{ row.company }}</td>
		<td>{{ row.summary }}</td>
		<td><a href="{{ row.source }}">{{ row.author }}</a></td>
		<td>{{ row.newsoutlet }}</td>
		<td>{{ row.newstime }}</td>
	</tr>
	{% endfor %}
</table>
</body>
</html>
